<div class="container">
    <div class="map-container">
      <object #worldMap  type="image/svg+xml" data="assets/map-image.svg"></object>
    </div>
    <div class="info-panel">
      <h2>{{ countryInfo?.name }}</h2>
      <p><strong>Capital:</strong> {{ countryInfo?.capital }}</p>
      <p><strong>Region:</strong> {{ countryInfo?.region }}</p>
      <p><strong>Income Level:</strong> {{ countryInfo?.incomeLevel }}</p>
      <p><strong>Currency:</strong> {{ countryInfo?.currency }}</p>
      <p><strong>Language:</strong> {{ countryInfo?.language }}</p>
    </div>
</div>
  